<section id="home" class="vh-100" >
        <img src="{{ asset('build/hero_background.png') }}" alt="" class="background">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold text-white pt-5 mt-5 ">Ching Yi, PELGRIMS CHEN</h1><br><br>
          <div class="col-lg-6 mx-auto ">
            <h2 id="headline"class="fs-3 mb-4 text-white headline">&lt; ? php echo   ' développeuse Web PHP/Symfony en recherche d'une opportunité en Île-de-France. ';  	&gt;  </h2><br>
            <div class=" gap-5 d-flex justify-content-center icon">
              <a href="#contact" title="me contacter"><i class='bx bxs-envelope fs-3' ></i></a>
              <a href="{{ asset('build/ChingYi_PC_CV.pdf') }}" target="_blank" title="mon cv"><i class='bx bxs-cloud-download fs-3 ' ></i></a>
            </div>
          </div>
        </div>
      </section> 
      